.main__overview {
  display: flex;
  align-items: center;
  background-color: #fff;
  &--heading {
    font-size: 2.25rem;
    color: var(--grey-dark-1);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
    @include respond(small-phone) {
      font-size: 2rem;
      padding: 1rem 1.5rem;
    }
  }
  &--icon {
    margin-right: auto;
    &-star,
    &-pin {
      width: 2rem;
      height: 2rem;
      fill: var(--primary);
      @include respond(small-phone) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    @include respond(xs-phone) {
      &-star {
        display: none;
        visibility: hidden;
      }
    }
  }
  &--location {
    display: flex;
    align-items: center;
    .inline-btn {
      margin-left: 3px;
      @include respond(small-phone) {
        font-size: 1.25rem;
      }
    }
  }
  &--rating {
    color: #fff;
    font-weight: 100;
    align-self: stretch;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem 2.25rem;
    margin-left: 3rem;
    &-number {
      font-size: 2.25rem;
      @include respond(small-phone) {
        font-size: 1.75rem;
      }
    }
    &-votes {
      margin-top: -3px;
      font-size: 0.75rem;
      @include respond(small-phone) {
        font-size: 0.5rem;
      }
    }
  }
}
